/* shared styles between components */

body {
  background-color: gray;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  background-color: whitesmoke;
  padding: 25px;
}

.weather-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 450px 450px 450px;
  column-gap: 30px;
}

.weather-card {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 900px;
  background-color: whitesmoke;
}

.weather-card, header h1 {
  border-radius: 5px;
}